@import "../../style-view/colors";

.restaurant-box {
    background: $color-white;
    border-radius: 5%;
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
    overflow: hidden;
    width: 350px;

        &__img {
            height: 120px;
            position: relative;
        }

        &__info {
            padding: 10px 0;
        }

        &__box-logo {
            background: #FFFFFF;
            border-radius: 4px;
            bottom: 5px;
            height: 42px;
            left: 5px;
            position: absolute;
            width: 48px;
        }

        &__logo-img {
            border-radius: 4px;
            height: 32px;
            padding: 4px 0 0 4px;
            width: 40px;
        }
}
