.overlay {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
}

.modal-wrapper {
    
    &-left {
        background: white;
        display: inline-block;
        height: 100%;
        width: 400px;
    }
    
    &-center {
        background: lavender;
        box-sizing: border-box;
        min-height: 300px;
        padding: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    
}
