@import "../../style-view/colors";

.modal-layout {
    box-sizing: border-box;
    height: 100%;
    max-height: 100vh;
    min-height: 200px;
    position: relative;

    &_header {
        background: $color-green;
        border-bottom: 4px solid $color-blue;
        padding: 20px;
    }

    &_content {
        align-items: center;
        background: $color-white;
        display: flex;
        height: 100%;
        justify-content: center;
        min-height: 200px;
        width: 100%;
    }
}

