.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    
    &-vert-align {
        &-top {
            align-items: flex-start;
        }
        
        &-bottom {
            align-items: flex-end;
        }
    }
    
    &-margin {
        
        &-4 {
            margin: 4px 0;
        }
        
        &-8 {
            margin: 8px 0;
        }
        
        &-12 {
            margin: 12px 0;
        }
        
        &-16 {
            margin: 16px 0;
        }
        
        &-top {
            
            &-4 {
                margin-top: 4px;
            }
            
            &-8 {
                margin-top: 8px;
            }
            
            &-12 {
                margin-top: 12px;
            }
            
            &-16 {
                margin-top: 16px;
            }
        }
    }
}
