@import "../../style-view/colors";
@import "../../style-view/fonts";

.account {
    background: $color-blue;
    box-sizing: border-box;
    display: inline-block;
    max-width: 250px;
    padding: 6px 60px;
    position: relative;
   
    &__menu {
        background: $color-blue;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    
    &__element {
        border-top: 1px solid $color-white;
        padding: 6px 5px;
        list-style: none;
    }
}
