.notification-root {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 2;

  &__item-wrapper {
    margin: 0 20px 20px 0;
  }
}

.anim-appear {
  opacity: 0.01;
}

.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}
