@import "../../style-view/colors";

.notification {
  border: 1px solid $color-blue;
  background: $color-green;
  display: block;
  padding: 20px;
  position: relative;
  width: 350px;
  
  &-success {
    background: $color-green;
  }
  
  &-warning {
    background: $color-silver;
  }
  
  &-error {
    background: $color-red;
  }

  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
