.overlay {
    align-items: center;
    background: rgba(17, 19, 20, 0.6);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
}
