@import "../../style-view/colors";
@import "../../style-view/fonts";

.btn {
    background: $color-blue;
    border: none;
    color: $color-white;
    cursor: pointer;
    padding: 10px 16px;
    outline: 0;
    
    @include font($button-size, $title-weight);

    &:hover:enabled {
        opacity: 0.9;
    }

    &:disabled {
        color: #ffffff;
    }

    &_active {
        border: 1px solid $color-blue;
    }

    &_icon {
        background: transparent;
        padding: 0;

        &:hover:enabled {
            -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9);
        }
    }
}

