@import "../../../style-view/colors";

.input-wrapper {
    background: $color-white;
    border: 1px solid $color-blue;
    padding: 2px 25px 2px 2px;
    position: relative;
    
    &__button {
        position: absolute;
        right: 0;
        top: 8px;
    }
}
