@import "../../../style-view/colors";

.input-wrapper {
    background: $color-white;
    border: 1px solid black;
    padding: 1px 25px 1px 1px;
    position: relative;
    
    &__button {
        position: absolute;
        right: 0;
        top: 7px;
    }
}
