@import "../style-view/colors";
@import "../style-view/fonts";

.mainLayout {
	position: fixed;
	top: 50%;
	transform: translate(20%, -50%);

	&__wrapper_btn {
		display: inline-block;
		margin-left: 40px;
		vertical-align: middle;
	}

	&__title {
		display: inline-block;
		font-size: 60px;
		margin: 0;
		vertical-align: middle;
	}
}
