.col {
    padding: 0 12px;
    flex: 0 1 auto;

    &-no-padding {
        padding: 0;
    }

    &_t-align {

        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }

    &_v-align {

        &-top {
        
        }

        &-bottom {
        
        }
    }

    &_col {

        &-half {
            flex-basis: 50%;
        }

        &-quarter {
            flex-basis: 25%;
        }

        &-seventy {
            flex-basis: 70%;
        }

        &-thirty {
            flex-basis: 30%;
        }
    }
}
