.col {
    box-sizing: border-box;
    padding: 0 12px;
    flex-grow: 0;

    &__no-padding {
        padding: 0;
    }

    &__t-align {

        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }

    &__v-align {

        &-top {

        }

        &-bottom {

        }
    }

    &__half {
        flex-basis: 50%;
    }

    &__quarter {
        flex-basis: 25%;
    }

    &__seventy {
        flex-basis: 70%;
    }

    &__thirty {
        flex-basis: 30%;
    }


    &__margin {
        &-t8 {
            margin-top: 8px;
        }

        &-t16 {
            margin-top: 16px;
        }
    }
}
