.col {
    box-sizing: border-box;
    padding: 0 12px;
    flex-grow: 0;

    &-no-padding {
        padding: 0;
    }

    &_t-align {

        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }

    &_v-align {

        &-top {

        }

        &-bottom {

        }
    }

    &_col {

        &-half {
            flex-basis: 50%;
        }

        &-quarter {
            flex-basis: 25%;
        }

        &-seventy {
            flex-basis: 70%;
        }

        &-thirty {
            flex-basis: 30%;
        }
    }

    &_margin {
        &-t8 {
            margin-top: 8px;
        }

        &-t16 {
            margin-top: 16px;
        }
    }
}
